.popup__input {
  box-sizing: border-box;
  width: 100%;
  max-height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: black;
  font-size: 14px;
  line-height: 1.21;
  margin: 0 auto;
  padding: 0 0 8px;
}
.popup__input:focus {
  border-bottom-color: #000;
  outline: 0;
}
.popup__input::placeholder {
  color: #c4c4c4;
  font-weight: 400;
}
